


.cabecalho {
	height: 80px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 80px;
	border-bottom: 1px solid #282828;
}

.cabecalho .logo {
	display: flex;
	gap: 30px;
}

img {
    width: 100px;
    padding-bottom: 8px;
}

.cabecalho .menu {
	display: flex;
	gap: 60px;
}

.cabecalho .menu li a {
	padding: 30px;
	color: #3e2447;
	font-weight: bolder;
	font-size: 23px;
	font-family:'Questrial', Tahoma, Geneva, Verdana, sans-serif;
}

.cabecalho .menu li a:hover {
	border-bottom: 2px solid #3e2447; 
}

.section.banner{
    background: #f9e3ff;
    width: 100%;
    height: 800px;
}

div.textosBanner{
    background:#f9e3ff;
    width: 100%;
    float: left;
    height: 750px;
}

h1.tituloBanner{
    color: #7d488d;
    text-decoration: none;
    font-size: 51px;
    text-align: left;
    margin-left: 80px;
    margin-top: 80px;
    font-family: 'Playfair Display', Times, serif;
}

div.descBanner {
    font-size: 21px;
    text-align: left;
    margin-left: 140px;
    margin-top: -20px;
    color: #a87bc2;
    text-decoration: none;
}

.estrelaTexto1 {
    position: absolute;
    width: 40px;
    left: 100px;
    bottom: 140px;
}

.estrelaTexto2 {
    position: absolute;
    width: 40px;
    left: 100px;
    bottom: 100px;
}

.estrelaTexto3 {
    position: absolute;
    width: 40px;
    left: 100px;
    bottom: 54px;
}

.estrelaTexto4 {
    position: absolute;
    width: 40px;
    left: 100px;
    bottom: 5px;
}

.estrelaTexto5 {
    position: absolute;
    width: 40px;
    left: 100px;
    bottom: -40px;
}

div.imagensBanner{
    background: #f9e3ff;
    width: 50%;
    float: left;
    position: relative;
}

img.img1{
    border-radius: 23px;
    width: 29%;
    position: absolute;
    left: 730px;
    top: -700px;
}

img.img2{
    border-radius: 23px;
    width: 40%;
    position: absolute;
    left: 1060px;
    top: -680px;
}

img.img3{
    border-radius: 23px;
    width: 40%;
    position: absolute;
    right: -225px;
    top: -425px;
}

img.img4{
    border-radius: 23px;
    width: 30%;
    position: absolute;
    right: -500px;
    top: -500px;
}

img.img5{
    border-radius: 23px;
    width: 37%;
    position: absolute;
    right: -200px;
    top: -250px;
}

img.img6{
    border-radius: 23px;
    width: 37%;
    position: absolute;
    right: -500px;
    top: -220px;
}

div.botão {
    position: relative;
}

.botão a {
    position: absolute;
    background-color: #8164bd;
    border-radius: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 300px;
    height: 60px;
    right: 900px;
    top: 630px;
}

div h1.titulo{
    font-size: 50px;
    text-align: center;
    color: #4f4789;
}

div.divbigHouses{
    background: #d7d2ff;
    width: 100%;
    margin: 0%;
    height: 400px;
}

div.imgsHouses{
    background: #d7d2ff;
    width: 50%;
    margin: 0%;
    height: 410px;
    float: left;
    position: relative;
}

div img.imgH1{
    position: absolute;
    border-radius: 23px;
    width: 35%;
    height: 105%;
    margin: 25px 90px;
}

div img.imgH2{
    position: absolute;
    border-radius: 23px;
    width: 44%;
    margin: 25px 110px;
    left: 240px;
    top: 25px;
}

div img.imgH3{
    position: absolute;
    border-radius: 23px;
    width: 60%;
    margin: 25px 110px;
    top: 248px;
    left: 240px;
}

div.descHouses{
    background: #d7d2ff;
    width: 50%;
    margin: 0%;
    height: 410px;
    float: left;
}

div h1.tituloHouses{
    font-size: 45px;
    text-align: right;
    color: #778aed;
    margin: 40px 140px;
}

div p.contHouses{
    font-size: 25px;
    text-align: right;
    color: white;
    margin: 0px 140px;
}


div.divGardens{
    background: #e8d3ff;
    width: 100%;
    margin: 0%;
    height: 400px;
}

div div.descGardens{
    background: #e8d3ff;
    width: 50%;
    margin: 0%;
    height: 580px;
    float: left;
}

div h1.tituloGardens{
    font-size: 45px;
    text-align: left;
    color: #8164bd;
    margin-top: 170px;
    margin-left: 140px;
}

div p.contGardens{
    font-size: 25px;
    text-align: left;
    color: white;
    margin: 0px 140px;
}

div div.imgsGardens{
    background: #e8d3ff;
    width: 50%;
    margin: 0%;
    height: 580px;
    float: left;
    position: relative;
}

div img.imgG1{
    position: absolute;
    border-radius: 23px;
    width: 43%;
    margin-right: 110px;
    top: 130px;
    left: 10px;
}

div img.imgG2{
    position: absolute;
    border-radius: 23px;
    width: 35%;
    margin-right: 110px;
    top: 100px;
    left: 330px;
}

div img.imgG3{
    position: absolute;
    border-radius: 23px;
    width: 35%;
    margin-right: 110px;
    top: 325px;
    left: 50px;
}

div img.imgG4{
    position: absolute;
    border-radius: 23px;
    width: 33%;
    margin-right: 110px;
    top: 480px;
    left: 315px;
}


div.divPalace{
    background: #ddbdfa;
    width: 100%;
    margin: 0%;
    height: 400px;
}

div div.imgsPalace{
    background: #ddbdfa;
    width: 50%;
    margin: 0%;
    height: 760px;
    float: left;
    position: relative;
}

div img.imgP1{
    position: absolute;
    border-radius: 23px;
    width: 41%;
    margin-left: 90px;
    top: 140px;
}

div img.imgP2{
    position: absolute;
    border-radius: 23px;
    width: 35%;
    left: 395px;
    top: 170px;
}

div img.imgP3{
    position: absolute;
    border-radius: 23px;
    width: 35%;
    left: 110px;
    top: 370px;
}

div img.imgP4{
    position: absolute;
    border-radius: 23px;
    width: 33%;
    left: 380px;
    top: 515px;
}

div.descPalace{
    background: #ddbdfa;
    width: 50%;
    margin: 0%;
    height: 760px;
    float: left;
}

div h1.tituloPalace{
    font-size: 45px;
    text-align: right;
    color: white;
    margin-right: 140px;
    margin-top: 250px;
}

div p.contPalace{
    font-size: 25px;
    text-align: right;
    color: white;
    margin-right: 140px;
    margin-top: 40px;
}

section.cardápio {
    position: relative
}

div.descCardápio h1 {
    position: relative;
    font-family: 'Playfair Display', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45.4px;
    color: #7d488d;
    left: 520px;
    top: 10px;
}

div.descCardápio p {
    position: absolute;
    width: 650px;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #3b346d;
    text-align: center;
    left: 320px;
    bottom: -150px;
}

div.descCardápio img {
    width: 800px;
    position: absolute;
    right: 250px;
    top: 1100px;
}

div.descCardápio h2 {
    position: absolute;
    right: 450px;
    top: 1150px;
    font-size: 39.4px;
    font-family: 'Playfair Display', Tahoma, Geneva, Verdana, sans-serif;
    color: #766dc0;
    text-align: center;
}

div.imagensCardápio {
    position: relative;
}

div.imagensCardápio .imagem1 {
    position: absolute;
    top: 325px;
    left: 100px;
    width: 25%;
} 

div.imagensCardápio .imagem2 {
    position: absolute;
    top: 325px;
    left: 500px;
    width: 26.95%;
}

div.imagensCardápio .imagem3 {
    position: absolute;
    top: 325px;
    left: 900px;
    width: 26.99%;
}

div.descimagensCardápio {
    position: relative;
}

div.descimagensCardápio .coquetel1 {
    position: absolute;
    top: 630px;
    left: 190px;
    font-family: 'Playfair Display', Times, serif;
    font-size: 30px;
    color: #766dc0;
    text-align: center;
}

div.descimagensCardápio .coquetel2 {
    position: absolute;
    top: 630px;
    left: 600px;
    font-family: 'Playfair Display', Times, serif;
    font-size: 30px;
    color: #766dc0;
    text-align: center;
}

div.descimagensCardápio .coquetel3 {
    position: absolute;
    top: 630px;
    left: 1000px;
    font-family: 'Playfair Display', Times, serif;
    font-size: 30px;
    color: #766dc0;
    text-align: center;
}

div.descimagensCardápio .preço1 {
    position: absolute;
    top: 740px;
    left: 160px;
    font-family: 'Playfair Display', Times, serif;
    font-size: 20px;
    color: #766dc0;
    text-align: center;
}

div.descimagensCardápio .preço2 {
    position: absolute;
    top: 740px;
    left: 570px;
    font-family: 'Playfair Display', Times, serif;
    font-size: 20px;
    color: #766dc0;
    text-align: center;
}

div.descimagensCardápio .preço3 {
    position: absolute;
    top: 740px;
    left: 970px;
    font-family: 'Playfair Display', Times, serif;
    font-size: 20px;
    color: #766dc0;
    text-align: center;
}

div.botõesimagensCardápio {
    position: relative;
}

.botãoCardápio1 {
    position: absolute;
    background-color: #8164bd;
    border-radius: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 300px;
    height: 40px;
    left: 130px;
    top: 815px;
}

.botãoCardápio2 {
    position: absolute;
    background-color: #8164bd;
    border-radius: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 300px;
    height: 40px;
    left: 540px;
    top: 815px;
}

.botãoCardápio3 {
    position: absolute;
    background-color: #8164bd;
    border-radius: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 300px;
    height: 40px;
    left: 940px;
    top: 815px;
}

footer.rodapé {
    background-color: #f9e3ff;
    position: relative;
    top: 1200px;
    height: 150px;
}

.comunicação {
    position: absolute;
    right: 80px;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    color: #3e2447;
    font-size: 17.5px;
}

.endereço {
    position: absolute;
    top: 13px;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    color: #3e2447;
    font-size: 18.4px;
}

.direitos {
    position: absolute;
    top: 60px;
    font-family: 'Questrial', Tahoma, Geneva, Verdana, sans-serif;
    color: #3e2447;
    font-size: 18.4px;
}

div.redesSociais {
    position: relative;
    top: 110px;
    right: 140px;
}

.instagram {
    position: absolute;
    bottom: 10px;
    right: 100px;
    width: 50px;
}

.x {
    position: absolute;
    bottom: 10px;
    right: 32px;
    width: 46px;
}

.whatsapp {
    position: absolute;
    bottom: -40px;
    right: 100px;
    width: 46px;
}

.youtube {
    position: absolute;
    bottom: -40px;
    right: 32px;
    width: 42px;
} 