@font-face {
    font-family: Playfair Display;
    src: url(../fontes/PlayfairDisplaySC-Regular.ttf);
}

@font-face {
    font-family: Questrial;
    src: url(../fontes/Questrial-Regular.ttf);
}